@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin:0;
    padding: 0;
    height: 100vh;
    font-family: "Noto Sans", sans-serif;
}
.container{
    height: 100%;
    background: linear-gradient(270deg,#8e2be2, #4169e1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 8px;
    max-width: 400px;
}
.logo{
    width: 150px;
    object-fit: contain ;
    border-radius: 5px;
}
h1{
    color: #333;
    margin-bottom: 10px;
}
p{
    color: #666;
    margin-bottom: 10px;
}
form{
    display: flex;
    flex-direction: column;
}
input{
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
button{
    border-radius: 5px;
    padding: 5px;
    background-color: #8e2be2;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover{
    background-color: #7a1dd1;

}